@media(max-width:1080px){
h1{font-size:100px;margin-top:24px;margin-bottom:-1px;}
h2{font-size:90px;padding-left:8px;padding-top:26px;}
h3{font-size:12px;padding-top:8px;}
.l li{font-size:16px;padding-left:14px;padding-top:11px;padding-right:13px;padding-bottom:7px;}
ul{width:664px;height:35px;}
#menu{padding-left:17px;}
#wave{margin-top:-3px;height: 16px;}
#wave:before{width:73px;transform:rotate(-3.7deg);height:9px;right:-0px;top:-2px;}
#wave:after{transform:rotate(-2.6deg);width:88px;height:10px;left:0px;top:-6.7px;}
#wave2{margin-top:-3px;height:16px;}
#wave2:before{width:73px;transform:rotate(-3.7deg);height:9px;right:-0px;top:-2px;}
#wave2:after{transform: rotate(-2.6deg);width:88px;height:10px;left: 0px;top:-6.7px;}
#timer390496cd6b6aeb123e22bc8d6f7f721d{width:136px;height:19px;font-size:12px;margin-top:1px;}
.l{padding-top:7px;padding-bottom:6px;margin-left:10px;margin-right:10px;}
.H{height:166px;width:136px;border-radius:3px;}
.H2{height:166px;width:136px;border-radius:3px;}
.h2{margin-right:32px;}
.s2{margin-bottom:6px;}
.s{width:478px;height:205px;margin-top:30px;}
.f2{font-size:7px;margin-top:0px;margin-bottom:6px;}
.f{font-size:10px;margin-top:5px;}
.o2{font-size:14px;padding-top:8px;padding-bottom:3px;}
.o{font-size:14px;padding-top:8px;padding-bottom:3px;}
.y{background-size:136px;height:128px;}
.n{background-size:136px;height:128px;}
.t{font-size:11px;}
.auth{height:10px;width:14px;background-size:14px;margin-right:-1px;}
}	
@media(min-width:691px){
.m2{display:none;}
.m1{display:block;}
div .s{display:block;}
.m{display: none;}}
@media(max-width:690px){
h1{font-size:36px;margin-top:19px;margin-bottom:9px;}
@-moz-document url-prefix(){h1{margin-top:17px;margin-bottom:6px;}}
.m2{display:block;}
ul{width:205px;height:22px;}
.m1{display:none;}}
.s{display:none;}

}